---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Travis Hellers Portfolio">
    <h1 class="mb-10 flex justify-center items-center text-center lights-effect">Under Construction</h1>
    <p class="text-center text-gray-400 mt-5">This is a work in progress. Please check back later or play a game here: <a href="https://lucas-revenge.netlify.app/" target="_blank">Lucas Revenge</a>.</p>

</Layout>
